extends ../layouts/default.pug

block main
  .section-10
    .container
      .inner-wrap
        img(src="/assets/images/error-404.svg" class="inner-image" alt="404 Error")
        h1(class="inner-title") Trang không tồn tại
        p(class="inner-description") Xin lỗi, trang bạn đang tìm kiếm không tồn tại hoặc đã bị xóa.
        a(href="/" class="inner-back") Trở về trang chủ
